.top {
  &-carousel-inner {
    height: 450px;
  }
  &-item {
    height: 100%;
    padding: 20px;
    background-color: #fff;
    img {
      margin-left: auto;
      margin-right: auto;
      height: 100% !important;
    }
  }
}
